
fish_bootstrap/tmux/plugins
fish_bootstrap/nvm/
fish_bootstrap/pyenv/
fish_bootstrap/vim/autoload
fish_bootstrap/vim/plugged
fish_bootstrap/vim/sessions
fish_bootstrap/vim/view
fish_bootstrap/vim/backup
fish_bootstrap/vim/.*
fish_bootstrap/fishfn/fisher.fish
**/emacs/**/eln-cache/**/*
.last-package-update-day
**/fishfn_backup
addon/
